#userListView {
    -fx-background-color: white;
    -fx-border-color: white;
}

#userListView .list-cell {
    -fx-background-color: white;
    -fx-border-color: white;
    -fx-border-width: 0 0 1 0;
}

#userListView .list-cell:hover {
    -fx-background-color: lightgrey;
    -fx-cursor: hand;
}

#userListView .list-cell:filled:selected {
    -fx-background-color: lightgrey;
    -fx-text-fill: black;
}

.image-view {
    -fx-border-color: white;
    -fx-border-width: 0 0 1 0;
}

.image-view:hover {
    -fx-border-color: lightgrey;
    -fx-cursor: hand;
}

#pane {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 1;
}

.text {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 0 0 3 0;
}

